:root {
    --primary-color: #1a1a1d;
    --secondary-color: #4e4e50;
    --font-color: #c5c6c7;
    --highlight-color: #66fcf1;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
}

.bg-dark {
    background-color: var(--secondary-color) !important;
}

.text-white {
    color: var(--font-color) !important;
}

a {
    color: var(--highlight-color);
}
