@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This API was born out of a need to format various things for
    the Twitch bots I wanted to use. It became used in a a couple
    of channels, including my own. This also allows you to use it freely.
    Please see the home page if you would like to contribute or report issues.
</p>
