@{
    ViewData["Title"] = "Home Page";
}
<div class="row mb-4">
    <div class="col-md-12 text-center">
        <a href="/twitch/login" class="btn btn-primary" style="background-color:#9147ff; border-color:#9147ff;">
            <span style="font-size:1.2em;vertical-align:middle;">🎮</span> Login with Twitch
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        This application is an API for misc. Twitch/chat bot commands. Use freely, may change at a moments notice.
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        Click "Swagger" above to test API's and see how they work.
    </div>
    <div class="col-md-3">
        <h2>Contribute</h2>
        Want to see something on this API? Contribute at <a href="https://github.com/demortes/MiscTwitchChat/">GitHub</a> or request features there.
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Known Users</h2>
        <ul>
            <li><a href="https://www.twitch.tv/demortes">Demortes</a></li>
            <li><a href="https://www.twitch.tv/t3hr4">T3hr4</a></li>
        </ul>
    </div>
</div>
