@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-4"><i class="fas fa-robot"></i> Dem's Twitch API</h1>
            <p class="lead">An API for miscellaneous Twitch/chat bot commands. Use freely, may change at a moment's notice.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h3><i class="fas fa-book"></i> How to Use</h3>
            <p>Click "Swagger" in the navigation to test the APIs and see how they work.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fas fa-code-branch"></i> Contribute</h3>
            <p>Want to see something on this API? Contribute on <a href="https://github.com/demortes/MiscTwitchChat/">GitHub</a> or request features there.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fas fa-users"></i> Known Users</h3>
            <ul class="list-unstyled">
                <li><a href="https://www.twitch.tv/demortes"><i class="fab fa-twitch"></i> Demortes</a></li>
                <li><a href="https://www.twitch.tv/t3hr4"><i class="fab fa-twitch"></i> T3hr4</a></li>
            </ul>
        </div>
    </div>
</div>
