@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        This application is an API for misc. Twitch/chat bot commands. Use freely, may change at a moments notice.
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        Click "Swagger" above to test API's and see how they work.
    </div>
    <div class="col-md-3">
        <h2>Contribute</h2>
        Want to see something on this API? Contribute at <a href="https://github.com/demortes/MiscTwitchChat/">GitHub</a> or request features there.
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Known Users</h2>
        <ul>
            <li><a href="https://www.twitch.tv/demortes">Demortes</a></li>
            <li><a href="https://www.twitch.tv/t3hr4">T3hr4</a></li>
        </ul>
    </div>
</div>
